&.apps.popover {
  height: auto;
  width: 400px;
  font-family: "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, sans-serif;

  .popover-inner>header {
    background-image: url('http://localhost:4567/popsicle_logo2.png');
    background-repeat: no-repeat;
    background-position: 373px 7px;

    h3 {
      font-size: 14px;
      line-height: 13px;
    }

    .logo {
      display: none;
    }
  }
}

.row-fluid {
  margin-top:5px;
  margin-left:85px;
}

#answer-deny {
  margin-left: 60px;
}

.alert {
  margin-top: 10px;
}

.start {
  line-height: 18px;
  padding: 7px 50px;
  border-radius: 3px;
  display: inline-block;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
  transition: box-shadow 0.25s ease 0s;
  -o-transition: box-shadow 0.25s ease 0s;
  -ms-transition: box-shadow 0.25s ease 0s;
  -moz-transition: box-shadow 0.25s ease 0s;
  -webkit-transition: box-shadow 0.25s ease 0s;

  &:hover {
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.5);
  }
}

.home {
  text-align: center;

  p {
    font-size: 18px;
    padding: 40px 80px;
    text-align: center;
    line-height: 26px;
  }

  .links {
    padding: 10px;
    margin-top: 50px;

    #learn_more_link {
      float: left;
    }

    #leaderboard_link {
      float: right;
    }
  }
}

.question {
  margin: 10px 20px;

  p, #option_group {
    font-size: 14px;
  }

  #question_text {
  }

  #option_group {
    margin: 10px;
  }

  .radio {
    margin-bottom: 5px;
  }

  .submit_answer{
    line-height: 18px;
    padding: 7px 50px;
    border-radius: 3px;
    display: inline-block;

    &:disabled {
      color: #999;
      background-color: #DDD;
      background-image: none;
      cursor: not-allowed;
    }
  }

  #question_counter {
    margin-bottom: 15px;
  }

}


.answer {
  text-align: center;
  height: 241px;

  p, #option_group {
    font-size: 16px;
  }

  h2 {
    font-size: 20px;
    font-weight: bold;
    padding: 40px 0px 20px;
  }

  .correct {
    color: green;
  }

  .incorrect {
    color: red;
  }

  .next_question {
    line-height: 18px;
    padding: 7px 50px;
    border-radius: 3px;
    display: inline-block;
    margin-top: 30px;

    &:disabled {
      color: #999;
      background-color: #DDD;
      background-image: none;
      cursor: not-allowed;
    }
  }
}

.leaderboard {
  margin: 30px 20px;

  li {
    font-size: 16px;
    margin: 5px 0px;
  }
}








