&.apps.popover {
  height: 300px;
  width: 400px;
  font-family: "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, sans-serif;

  .popover-inner>header {
    background-image: url('http://localhost:4567/popsicles_small.png');
    background-repeat: no-repeat;
    background-position: 283px 8px;

    .logo {
      display: none;
    }
  }
}

.row-fluid {
  margin-top:5px;
  margin-left:85px;
}

#answer-deny {
  margin-left: 60px;
}

.alert {
  margin-top: 10px;
}

.home {
  text-align: center;

  p {
    font-size: 18px;
    padding: 40px 80px;
    text-align: center;
    line-height: 26px;
  }

  .start {
    line-height: 18px;
    padding: 7px 50px;
    border-radius: 3px;
    display: inline-block;
  }

  .links {
    padding: 10px;
    margin-top: 50px;

    #learn_more_link {
      float: left;
    }

    #leaderboard_link {
      float: right;
    }
  }
}

.question {
  margin: 10px 20px;

  p, #option_group {
    font-size: 14px;
  }

  #question_text {
  }

  #option_group {
    margin: 10px;
  }

  .radio {
    margin-bottom: 5px;
  }

  .submit_answer {
    line-height: 18px;
    padding: 7px 50px;
    border-radius: 3px;
    display: inline-block;
  }

}








